[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
codecov = "*"
pytest-cov = "*"

[packages]
click = "*"
jinja2 = "*"
gitpython = "*"
virtualenv = "*"
flask-bootstrap = {path = "."}

[requires]
python_version = "3.8"
